.root {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 4px;
  border-bottom: 1px solid #f5f5f5;

  .left {
    color: #5794f7;
    font-size: 24px;
    font-weight: bold;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
  }
}
