.button {
  background-color: #f2f6fc !important;
  color: #333 !important;
  border-color: #e1e4eb !important;
}

.button:hover {
  filter: brightness(1.09);
  border-color: #aaa !important;
}

.title {
  text-align: center;
  font-size: 16px;
  color: #333;
}

.link {
  color: #666;
  margin-top: 36px;
  font-size: 14px;

  .value {
    color: #5794f7;
    cursor: pointer;
  }
}

.code {
  color: #666;
  margin-top: 36px;
  font-size: 14px;

  .value {
    color: #7ec050;
  }
}

.copyBtn {
  margin: 40px 0 30px;
  text-align: right;
}