.root {
  height: 100%;

  .topButton {
    padding: 16px;
  }

  .shareList {
    padding: 0 12px;
  }

  .rowClass {
    color: #666;
    height: 28px;
    font-size: 14px;

    &:hover .btnGroup {
      opacity: 1;
    }
  }

  .btnGroup {
    opacity: 0;
    display: flex;
    gap: 10px;
    justify-content: center;

    .copyBtn {
      background-color: #67c23a !important;
    }

    .copyBtn:hover {
      filter: brightness(1.09);
    }
  }
}

.cancelBtn {
  background-color: #f56c6c !important;
}

.cancelBtn:hover {
  filter: brightness(1.09);
}
