.root {
  .topButton {
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }

  .filename {
    cursor: pointer;
    display: inline-block;

    .text {
      margin-left: 8px;
    }
  }

  .shareList {
    padding: 0 12px;
  }

  .rowClass {
    color: #666;
    height: 28px;

    &:hover .btnGroup {
      opacity: 1;
    }
  }

  .btnGroup {
    opacity: 0;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}

.restoreBtn {
  background-color: #67c23a !important;
}

.restoreBtn:hover {
  filter: brightness(1.09);
}

.deleteBtn {
  background-color: #f56c6c !important;
}

.deleteBtn:hover {
  filter: brightness(1.09);
}
