.button {
  background-color: #eff0fd !important;
  color: #626aef !important;
  border-color: #626aef !important;
}

.button:hover {
  filter: brightness(1.09);
}

.root {
  padding: 16px 0;
}

.tree {
  height: 420px;
  overflow: auto;
}