.root {
  display: flex;
  height: calc(100% - 70px);

  .left {
    height: 100%;
    width: 200px;
    flex-shrink: 0;
    background-color: #f7f7f7;
  }

  .right {
    width: calc(100% - 200px);
    flex: 1;
    overflow: auto;
    background-color: #ffffff;
  }
}
